* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header,
footer,
#hero {
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15%;
    padding-right: 15%;
}

header a {
    color: #F9FAF8;
}

header a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0
}

nav ul li {
    display: inline;
    margin-left: 1.5em;
}

body {
    margin: 0;
}

#hero {
    display: flex;
    justify-content: space-between;
    height: 384px;
    min-height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 96px;
}

#hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-right: 64px;
}

#hero p {
    font-size: 18px;
    margin-right: 64px;
}

#hero #button {
    margin-top: 8px;
}

#button {
    display:flex;
    background-color: #3882F6;
    max-width:fit-content;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.placeholderImg {
    height: 256px;
    display: flex;
    background-color: #797688;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.col1,
.col2 {
    width: 50%;
    height: 256px;
    
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}