* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header,
footer,
#hero {
    background-color: #025043;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15%;
    padding-right: 15%;
}

header a {
    color: #E5E7EB;
    font-size: 18px;
}

header a:hover {
    text-decoration: underline;
}

.headerLogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.headerLogo p {
    margin-left: 16px;
}

nav ul {
    margin: 0
}

nav ul li {
    display: inline;
    margin-left: 1.5em;
}

body {
    margin: 0;
}

#hero {
    display: flex;
    justify-content: space-between;
    height: 512px;
    min-height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 96px;
}

#hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-right: 64px;
}

#hero p {
    font-size: 18px;
    margin-right: 64px;
    color: #E5E7EB;
}

#hero #button {
    margin-top: 8px;
}

#hero .col1,
#hero .col2 {
    width: 50%;
    height: 384px;
    
}

#hero .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#button {
    display:flex;
    background-color: #F98F45;
    max-width:fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#button a {
    color: #F9FAF8;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.placeholderImg {
    height: 384px;
    width: 100%;
    display: flex;
    background-color: #797688;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.placeholderImg img {
    width: inherit;
    height: 100%;
}

#information {
    display: flex;
    background-color: #F9FAF8;
    color: #025043;
    align-items: center;
    justify-content: space-evenly;
    min-height: 540px;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

#information ul {
    width: 66%;
    min-width: 1024px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 112px;
}

#information li {
    width: 160px;
}

#information h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#information .header {
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: center;
    width: 66%;
}

.subText {
    max-width: inherit;
    text-align: center;
    margin-top: 8px;
    color: #505C6C;
}

.squareImg {
    height: 160px;

}

.squareImg img {
    height: inherit;
    width: auto;
    border-radius: 8px;
    border-color: #28a99e;
    border-style: solid;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 448px;
    background-color: #E5E7EB;
    color: #025043;
    padding-left: 25%;
    padding-right: 25%;
}

#quote h1 {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

#quote p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    align-self: flex-end;
}

#call {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 384px;
    width: 100%;
}

#callInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    background-color: #28a99e;
    height: 40%;
    width: 70%;
    border-radius: 8px;
}

#callInner .button {
    display: flex;
    border-style: solid;
    border-radius: 8px;
    background-color: #F98F45;
    border-color: #F98F45;
}

#callInner .button a {
    color: #F9FAF8;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#callInner .button p {
    font-size: 18px;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #025043;
}