* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

header,
footer {
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 192px;
    padding-right: 192px;
}

header a {
    color: #F9FAF8;
}

header a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0
}

nav ul li {
    display: inline;
    margin-right: 1.5em;
}

body {
    margin: 0;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}